# Secrets & Credentials
*.env
*.pem
*.key
*.crt
secrets/
credentials/

#macOS noise
.DS_Store
**/.DS_Store
.AppleDouble

# Editor
.vscode/
*.swp

# VM / large files
*.ova
*.vmdk
*.iso
*.qcow2

# Logs
*.log
logs/

# Not ready to commit

./screenshots/kali-setup/Screenshot*.png
